h1{
    color: aliceblue;
}
body{
    background-color: rgb(22, 22, 22);
}
section{
    margin-left: 750px;
    width: 500px;
}
h1{
    width: 700px;
    margin-left: 30px;
    font-size: 70px;
    font-style: italic;
}
   img#voltarimg{
    margin-top: 30px;
    margin-left: 250px;
   }
   
   