@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}
main{
    margin: auto;
}

.frame-iphone{
    padding: 20px;

}

.iphone > img{
   height: 500px;
   object-fit: cover;
   object-position: fixed;
   display: flex;
   margin: auto;
}
iframe{
    height: 500px;
    object-fit: 100px;
    object-position: fixed;
    display: flex;
    margin: auto;
}

.opcoes{
    padding: 10px 20px;
    width: 70px;
    position: absolute;
    right: 0px;

    z-index: 999;
}
a > img{
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    margin: 10px;
}
a > img:hover{
    height: 70px;
    box-shadow: 2px 2px 5px black;
}

